.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-produto {
  background-color: whitesmoke;
  padding: 8px;
  border: 1px solid grey;
  border-radius: 8px;
  width: 300px;
  margin: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-produto img {
  max-width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.card-produto p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 8px 0;
}

.card-produto h4 {
  font-size: 2rem;
}

.grifado {
  text-decoration: line-through;
  color: grey;
}

.desconto {
  color: green;
}

.botao-comprar {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: auto;
}

.botao-comprar:hover {
  background-color: #0056b3;
}
